---
BasedOnStyle: LLVM
IndentWidth : 4
---
Language: Cpp
Standard: Latest
DisableFormat: false

AccessModifierOffset: -4

AlignAfterOpenBracket: Align

AlignArrayOfStructures: Left

AlignConsecutiveAssignments:
    Enabled          : true
    AcrossEmptyLines : false
    AcrossComments   : false
    AlignCompound    : true
    PadOperators     : true

AlignConsecutiveBitFields:
    Enabled          : true
    AcrossEmptyLines : false
    AcrossComments   : false

AlignConsecutiveDeclarations:
    Enabled               : true
    AcrossEmptyLines      : false
    AcrossComments        : false
    AlignFunctionPointers : true
  
AlignConsecutiveMacros:
    Enabled          : true
    AcrossEmptyLines : false
    AcrossComments   : false

AlignConsecutiveShortCaseStatements:
    Enabled          : true 
    AcrossEmptyLines : true 
    AcrossComments   : true 
    AlignCaseColons  : true 

AlignEscapedNewlines : Right

AlignOperands        : AlignAfterOperator

AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 0

AllowAllArgumentsOnNextLine                : false

AllowAllParametersOfDeclarationOnNextLine  : false

AllowBreakBeforeNoexceptSpecifier          : Always

AllowShortBlocksOnASingleLine              : Empty

AllowShortCaseLabelsOnASingleLine          : false

AllowShortCompoundRequirementOnASingleLine : true

AllowShortEnumsOnASingleLine               : false

AllowShortFunctionsOnASingleLine           : Empty

AllowShortIfStatementsOnASingleLine        : Never

AllowShortLambdasOnASingleLine             : Empty

AllowShortLoopsOnASingleLine               : false

AlwaysBreakAfterReturnType                 : All

AlwaysBreakBeforeMultilineStrings          : false

AlwaysBreakTemplateDeclarations            : Yes

AttributeMacros                            : []

BinPackArguments                           : false

BinPackParameters                          : false

BitFieldColonSpacing: Both

BraceWrapping:
    AfterCaseLabel        : false
    AfterClass            : false
    AfterControlStatement : false
    AfterEnum             : false
    AfterFunction         : false
    AfterNamespace        : false
    AfterStruct           : false
    AfterUnion            : false
    AfterExternBlock      : false
    BeforeCatch           : false
    BeforeElse            : false
    BeforeLambdaBody      : false
    BeforeWhile           : false

#BracedInitializerIndentWidth: ContinuationIndentWidth

BreakAdjacentStringLiterals       : true       

BreakAfterAttributes              : Never      

BreakArrays                       : true       

BreakBeforeBinaryOperators        : All        

BreakBeforeBraces                 : Custom     

BreakBeforeConceptDeclarations    : Always     

BreakBeforeInlineASMColon         : Always     

BreakBeforeTernaryOperators       : true       

BreakConstructorInitializers      : AfterColon 

BreakInheritanceList              : AfterColon 

BreakStringLiterals               : true       

ColumnLimit                       : 80

CommentPragmas                    : '*         CNE'

CompactNamespaces                 : false      

ConstructorInitializerIndentWidth : 0          

ContinuationIndentWidth           : 4          

Cpp11BracedListStyle              : false      

DerivePointerAlignment            : false      

EmptyLineAfterAccessModifier      : Never      

EmptyLineBeforeAccessModifier     : Always     

ExperimentalAutoDetectBinPacking  : false      

FixNamespaceComments              : true

ForEachMacros                     : [ 'RANGES_FOR', 'FOREACH', 'BOOST_FOREACH' ]

IfMacros                          : [ 'IF' ]

IncludeBlocks                     : Regroup

IncludeCategories:
    - Regex        : '^(<|")(fxl)/'
      Priority     : 3
    - Regex        : '^((<|")(glfw|vulkan)/)'
      Priority     : 2
    - Regex        : '<[[:alnum:].]+>'
      Priority     : 4
    - Regex        : '.*'
      Priority     : 1
      SortPriority : 0

IndentAccessModifiers:      false

IndentCaseBlocks:           false

IndentCaseLabels:           false

IndentExternBlock:          NoIndent

IndentGotoLabels:           true

IndentPPDirectives:         AfterHash

IndentRequiresClause:       false

IndentWrappedFunctionNames: false

InsertBraces:               false

InsertNewlineAtEOF:         true

InsertTrailingCommas:       None

IntegerLiteralSeparator:
    Binary  : 0
    Decimal : 0
    Hex     : 0

KeepEmptyLinesAtEOF              : true

KeepEmptyLinesAtTheStartOfBlocks : false

LambdaBodyIndentation            : Signature

LineEnding                       : LF

MacroBlockBegin                  : "^FXL_BLOCK_.*_BEGIN"

MacroBlockEnd                    : "^FXL_BLOCK_.*_END"

MaxEmptyLinesToKeep              : 1

NamespaceIndentation             : All

PPIndentWidth                    : -1 #IndentWidth

PackConstructorInitializers      : Never

PointerAlignment                 : Right

QualifierAlignment               : Custom

QualifierOrder : [
        "restrict",
        "static",
        "volatile",
        "inline",
        "constexpr",
        "friend",
        "const",
        "type"
]

ReferenceAlignment               : Right

ReflowComments                   : true

RemoveBracesLLVM                 : false

RemoveParentheses                : Leave

RemoveSemicolon                  : false

RequiresClausePosition           : OwnLine

RequiresExpressionIndentation    : OuterScope

SeparateDefinitionBlocks         : Always

ShortNamespaceLines              : 0

SortIncludes                     : CaseSensitive

SortUsingDeclarations            : Lexicographic

SpaceAfterCStyleCast             : true

SpaceAfterLogicalNot             : false

SpaceAfterTemplateKeyword        : true

SpaceAroundPointerQualifiers     : Default

SpaceBeforeAssignmentOperators   : true

SpaceBeforeCaseColon             : true

SpaceBeforeCpp11BracedList       : true

SpaceBeforeCtorInitializerColon  : true

SpaceBeforeInheritanceColon      : true

SpaceBeforeParens                : Custom

SpaceBeforeParensOptions:
    AfterControlStatements       : true
    AfterForeachMacros           : true
    AfterFunctionDeclarationName : false
    AfterFunctionDefinitionName  : false
    AfterIfMacros                : true
    AfterOverloadedOperator      : true
    AfterPlacementOperator       : true
    AfterRequiresInClause        : true
    AfterRequiresInExpression    : true
    BeforeNonEmptyParentheses    : false

SpaceBeforeRangeBasedForLoopColon : true

SpaceBeforeSquareBrackets         : true

SpaceInEmptyBlock                 : true

SpacesBeforeTrailingComments      : 1

SpacesInAngles                    : Never

SpacesInContainerLiterals         : true

SpacesInLineCommentPrefix: 
    Minimum : 1
    Maximum : 1

SpacesInParens : Never

SpacesInParensOptions: 
    InConditionalStatements : false
    InEmptyParentheses      : false
    Other                   : false

SpacesInSquareBrackets :  false

TabWidth : 4

UseTab   : Never

